.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter__button {
    cursor: pointer;
    font-family: inherit;
    color: var(--button-color);
    background-color: var(--button-background);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    text-decoration: none;
    border: transparent;

    padding: 6px 22px;

    transition: background-color var(--time-duration) var(--timing-function), color var(--time-duration) var(--timing-function), box-shadow var(--time-duration) var(--timing-function);

    &:hover,
    &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
}

.filter__item + .filter__item {
    margin-left: 10px;
}