:root {
    --title-color: #212121;
    --text-color: #757575;
    --accent-color:#2196f3;
    --background-color:#ffffff;
    --footer-background:#2F303A;
    --hero-background:#2F303A;
    --team-background: #F5F4FA;
    --button-color: #212121;
    --nav-color: #212121;
    --button-background: #F5F4FA;
    --time-duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }